.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

.catalog__list {
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 270px);
	grid-gap: 65px 30px;
	margin: 0 0 70px;
}

.catalog__pic {
	display: block;
	width: 270px;
	height: 350px;
	margin-bottom: 20px;
}

.catalog__pic img {
	width: 270px;
	height: 350px;
	-o-object-fit: cover;
	object-fit: cover;
}

.catalog__title {
	margin: 0 0 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #222;
}

.catalog__title a, .catalog__author a {
	color: #222;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
}

.catalog__title a:focus, .catalog__title a:hover {
	opacity: .6;
}

.catalog__author {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.catalog__price {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}

.catalog__pagination {
	margin-top: auto;
}